@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 22px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

body, html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.content {
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 20px;
}
@media (max-width: 600px) {
  .content {
    padding: 0 10px;
  }
}

.wrapper {
  position: relative;
  font-family: "raleway";
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 6;
  border-bottom: 1px solid #000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: calc(50px + 20 * ((100vw - 320px) / 880));
}

.header__burger {
  display: none;
}
@media (max-width: 576px) {
  .header__burger {
    display: block;
    width: 28px;
    height: 28px;
    position: relative;
    z-index: 10;
  }
  .header__burger:after {
    content: "";
    display: block;
    background-color: black;
    border-radius: 50px;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 6px;
    left: 3px;
    transition: all 0.5s linear;
  }
  .header__burger:before {
    content: "";
    display: block;
    background-color: black;
    border-radius: 50px;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 13px;
    left: 3px;
    transition: all 0.5s linear;
  }
  .header__burger span:after {
    content: "";
    display: block;
    background-color: black;
    border-radius: 50px;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 20px;
    left: 3px;
    transition: all 0.5s linear;
  }
}

@media (max-width: 576px) {
  .header__burger_close:after {
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    left: 3px;
    transform: rotate(-45deg);
    transition: all 0.5s linear;
  }
  .header__burger_close:before {
    content: "";
    display: block;
    opacity: 0;
    transition: all 0.5s linear;
  }
  .header__burger_close span:after {
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    left: 3px;
    transform: rotate(45deg);
    transition: all 0.5s linear;
  }
}

.header__nav {
  display: flex;
  align-items: center;
}

.burger__active {
  display: none;
}
@media (max-width: 576px) {
  .burger__active {
    overflow: auto;
    display: block;
    width: 100%;
    height: 300px;
    background-color: rgb(153, 145, 145);
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-200%);
    transition: all 0.3s linear;
  }
}

.burger__open {
  transition: all 0.3s linear;
  transform: translateY(0%);
}

@media (max-width: 576px) {
  .nav {
    display: none;
  }
}

.initial {
  margin-top: calc(120px + 30 * ((100vw - 320px) / 880));
  min-height: 300vh;
  overflow: hidden;
}

#check {
  margin-top: 20px;
}

.formCheck p {
  font-weight: 900;
  font-size: 30px;
}

#checkBtn, #uncheck {
  border: 1px solid #000;
  padding: 3px 7px;
  margin: 10px 0;
  display: inline-block;
}

.book__wr {
  border: 5px solid #c5c5c5;
  border-radius: 15px;
  height: 700px;
}

.book {
  border: 20px solid #000;
  border-radius: 10px;
  height: 690px;
  display: flex;
}

.book__written {
  padding: 30px;
  flex: 0 0 50%;
  width: 350px;
  border-right: 10px solid #000;
  overflow: auto;
}

.book__written-title {
  margin-bottom: 20px;
}

.book__create {
  padding: 30px;
  flex: 0 0 50%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.createTask {
  border-bottom: 2px solid #000;
  width: 300px;
  margin: 20px 0;
  font-size: 20px;
  text-transform: capitalize;
}

.createBtn {
  color: #000;
  background-color: aqua;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 5px;
}

.listStyle {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.listStyle span {
  display: block;
}

.list__img {
  flex: 0 0 30px;
  width: 30px;
}

.create__null {
  position: absolute;
  top: 100px;
  left: 30px;
  color: red;
  font-size: 14px;
  font-weight: 100;
  display: none;
}

.scroll_btn {
  border: 1px solid #000;
  padding: 5px 10px;
  display: inline-block;
  margin-top: 30px;
}

.btn2 {
  display: block;
  max-width: 150px;
  border: 1px solid #000;
  padding: 5px 10px;
}

.mm {
  height: 500px;
  display: block;
}

#p1 {
  width: 200px;
  height: 50px;
  font-size: 40px;
  margin: 0 auto;
}

.sc {
  transform: scale(1.6) translate(0, -100px);
  transition: all 1s ease-in;
  font-weight: 900;
  color: rgba(2, 2, 24, 0.623);
}

.line {
  display: block;
  background-color: red;
  width: 100px;
  height: 7px;
  margin-top: 30px;
  transition: all 1s ease-out;
}

.line2 {
  transition: all 1.5s ease-out;
  width: 300px;
}

.line3 {
  transition: all 1.5s ease-out;
  width: 500px;
}

.scrollImg_wr {
  margin-top: 100px;
  position: relative;
}

.scrollImg_img {
  width: calc(150px + 150 * ((100vw - 320px) / 880));
  position: absolute;
  top: 0;
  right: 0;
  transition: all 1.5s linear;
}

.scrollImg2 {
  position: absolute;
  top: 0;
  right: 40%;
  transition: all 1.5s linear;
}

.scrollImg3 {
  position: absolute;
  top: 0;
  right: 100%;
  transform: translateX(90%);
  transition: all 1.5s linear;
}

.scrollUp {
  margin: 100px;
  padding: 5px 10px;
  border: 1px solid #000;
  display: inline-block;
  cursor: pointer;
}

.prac {
  display: inline-block;
  cursor: pointer;
  margin: 100px;
  padding: 5px 10px;
  border: 1px solid #000;
}

.pr__wr {
  max-width: 60%;
  margin: 0 auto;
  font-family: "Raleway";
  margin-top: 100px;
}
@media (max-width: 576px) {
  .pr__wr {
    max-width: 100%;
  }
}
.pr__wr a {
  display: inline-block;
}

.pr__first {
  transition: all 0.7s linear;
  background-color: #c5c5c5;
  padding: 20px 20px 40px 20px;
}
.pr__first p:not(:last-child) {
  margin-bottom: 20px;
}

.pr__btn {
  margin: 0 auto;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pr__bottom {
  position: relative;
  background-color: #c5c5c5;
  padding: 20px 20px 40px 20px;
  min-height: 420px;
}
@media (max-width: 576px) {
  .pr__bottom {
    padding: 5px;
  }
}

.pr_edit {
  padding: 10px;
  font-weight: 700;
  background-color: yellow;
  margin-right: 20px;
  border-radius: 5px;
}

.pr_style {
  padding: 10px;
  font-weight: 700;
  background-color: skyblue;
  margin-right: 20px;
  border-radius: 5px;
}

.pr__bottom-wr {
  display: none;
}

.pr__open {
  display: block;
}

#prArea {
  width: 80%;
  min-height: 300px;
  margin-bottom: 10px;
  padding: 10px 30px;
}
@media (max-width: 576px) {
  #prArea {
    width: 100%;
  }
}

.pr__bottom-style {
  display: none;
}
.pr__bottom-style input {
  margin-left: 20px;
}
@media (max-width: 576px) {
  .pr__bottom-style input {
    margin-left: 5px;
  }
}
.pr__bottom-style p {
  margin-bottom: 10px;
}

.bottom-style-open {
  display: block;
}

.ff {
  margin-top: 20px;
}

select {
  font-size: 20px;
}

#textColor, #bgColor {
  padding: 5px 10px;
  background-color: rgb(122, 107, 107);
  border-radius: 5px;
  color: #fff;
}

.col, .color2 {
  position: absolute;
  top: 0;
  right: 0;
}

.col, .color2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

.col__open {
  opacity: 1;
  pointer-events: all;
}

.colChildren, .colChildren2 {
  border: 1px solid #000;
  display: block;
  width: calc(30px + 20 * ((100vw - 320px) / 880));
  height: calc(30px + 20 * ((100vw - 320px) / 880));
}

.col1 {
  background-color: #000;
}

.col2 {
  background-color: green;
}

.col3 {
  background-color: red;
}

.col4 {
  background-color: rgb(227, 165, 89);
}

.col5 {
  background-color: yellow;
}

.col6 {
  background-color: aqua;
}

.table__wr {
  max-width: 900px;
  margin: 0 auto;
  background-color: #c5c5c5;
  display: block;
  padding: 15px;
  font-family: "Raleway";
}

.part {
  margin-bottom: 20px;
}

h3, h5 {
  margin-bottom: 20px;
}

.bd {
  display: flex;
  justify-content: space-between;
}
.bd span {
  margin-right: 10px;
}
@media (max-width: 576px) {
  .bd span {
    font-size: 16px;
  }
}

.table__button {
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(0, 128, 0, 0.753);
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.part__text {
  width: 150px;
  flex: 0 0 150px;
}

.part__input {
  flex: 1 1 auto;
}
.part__input input {
  min-width: 100%;
  height: 30px;
  padding-left: 20px;
  font-size: 20px;
  border-radius: 3px;
}
.part__input input::-moz-placeholder {
  font-size: 18px;
  color: #c5c5c5;
}
.part__input input:-ms-input-placeholder {
  font-size: 18px;
  color: #c5c5c5;
}
.part__input input::placeholder {
  font-size: 18px;
  color: #c5c5c5;
}

.table__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 3px solid #fff;
  max-width: 900px;
  margin: 0 auto;
  min-height: 500px;
  background-color: #c5c5c5;
}

.table__item-wr {
  display: grid;
  gap: 10px;
  padding: 10px;
}

#col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lesson2 {
  padding: 150px;
}

#les2btn {
  padding: 5px 10px;
  border: 1px solid #000;
  background-color: green;
  color: #fff;
}
#les2btn:disabled {
  opacity: 0.3;
}

#les2 {
  background-color: #c5c5c5;
}

.date {
  border: 10px solid #887777;
  width: 600px;
  height: 200px;
  border-radius: 5px;
}

.date__wr {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 90px;
  font-weight: 500;
  font-family: cursive;
}

.date2 {
  width: 900px;
}

.action__wr {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.action__item {
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.action__item span {
  margin: 0 3px;
  padding-bottom: 7px;
  color: rgb(28, 7, 7);
}

.action__p {
  letter-spacing: 2px;
  color: #fff;
  text-shadow: -1px 0 #383838, 0 1px #383838, 1px 0 #383838, 0 -1px #383838;
}

.action__days {
  color: #EA52F8;
}

.action__hrs {
  color: #0066FF;
}

.action__min {
  color: #2BC0E4;
}

.action__sec {
  color: #ff886A;
}

.action__part-num {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.action__part-text {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  margin-left: 150px;
}

.action__days-text {
  margin-right: 20px;
  color: #EA52F8;
}

.action__hrs-text {
  margin-right: 22px;
  color: #0066FF;
}

.action__min-text {
  margin-right: 22px;
  color: #2BC0E4;
}

.action__sec-text {
  color: #ff886A;
}

.part2 {
  border: 1px solid #000;
}
.part2 input {
  background-color: rgba(209, 133, 133, 0.6);
  padding-left: 20px;
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
  font-size: 22px;
}
.part2 input::-moz-placeholder {
  font-size: 22px;
  opacity: 0.7;
}
.part2 input:-ms-input-placeholder {
  font-size: 22px;
  opacity: 0.7;
}
.part2 input::placeholder {
  font-size: 22px;
  opacity: 0.7;
}
.part2 p {
  border: 1px solid #000;
  margin-bottom: 15px;
  margin-left: 20px;
  display: block;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.in74_wr {
  position: relative;
}
.in74_wr p {
  position: absolute;
  top: 140px;
  left: 100px;
  color: red;
  font-weight: 700;
}

#in74 {
  font-family: cursive;
  background-color: rgb(198, 186, 186);
  height: 30px;
  width: 240px;
  margin: 100px;
  padding-left: 15px;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */